* {
  /* border: 1px solid red; */
  /* margin: 3px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  --primary-color: #32343c;
  --secondary-color: #9ecacc;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set minimum height for viewport */
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 80px;
  width: auto;
  font-size: 15px;
  align-items: center;
}

header h1 {
  background: var(--secondary-color);
  color: var(--primary-color);
  width: 300px;
  text-align: end;
  padding-right: 2px;
  font-size: 36px;
}

/* Top Navigation */
.navigation {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  display: flex;
  font-size: 18px;
}

.navigation li {
  margin-right: 20px; /* Adds space between list items */
  border-bottom: var(--secondary-color);
}

.navigation li a {
  text-decoration: none;
  color: var(--secondary-color);
}

li {
  list-style: none;
}

/* Banner Image placement*/
.banner {
  width: 100%;
  height: 100px;
  margin: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner img {
  width: 100%; /* Stretch image to fit the banner */
  height: 100px; /* Maintain image aspect ratio */
}

#portrait {
  position: absolute; /* Position the overlay image on top */
  top: 50%; /* Center the overlay image vertically */
  left: 90%; /* Center the overlay image horizontally */
  transform: translate(-50%, -50%); /* Center the overlay image precisely */
  width: 80px; /* Set the width of the overlay image */
  height: auto; /* Maintain image aspect ratio */
  border-radius: 50%; /* Make the overlay image circular */
  border: 2px solid var(--secondary-color);
}

/* Main Content Area */
section {
  display: flex;
  margin-bottom: 10px;
}

section h2 {
  min-width: 20%;
  text-align: right;
  padding-right: 2%;
  border-right: 2px solid var(--primary-color);
  margin-right: 2%;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}
h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  width: 80%;
  position: relative;
}

.work-item-minor {
  flex-grow: 2;
  flex-basis: 45%;
  margin: 5px;
}

.work-item-minor img {
  min-width: 200px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.work-item-major {
  flex: 0 0 100%;
  padding: 4px;
}

#psg {
  position: absolute;
  top: 36%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  width: 14%;
  font-weight: bold;
}

#psgp {
  position: absolute;
  top: 40%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  width: 14%;
}

#tn {
  position: absolute;
  top: 88%;
  background-color: var(--secondary-color);
  color: var(--primary-color):
  padding: 2px;
  width: 16%;
  font-weight: bold;
}

#tnp {
  position: absolute;
  top: 91%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  width: 16%;
}

#ps {
  position: absolute;
  top: 88%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  width: 16%;
  font-weight: bold;
}

#psp {
  position: absolute;
  top: 92%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px;
  width: 16%;
}

/* Contact Me List */
.contactme {
  display: flex;
}

.contactme_info {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.contactme_info li {
  margin-right: 100px; /* Adds space between list items */
}

.contactme_info li a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style: none;
}

.email {
  margin-left: 150px;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.linkedin {
  text-decoration: none;
  color: #32343c;
  border-bottom: 2px solid var(--primary-color);
}

.github {
  text-decoration: none;
  color: #32343c;
  border-bottom: 2px solid var(--primary-color);
}

/* Footer */
footer {
  display: flex;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 30px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
 
}
