* {
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #32343c;
  color: grey;
  height: 50px;
  font-size: 36px;
  align-items: center;
}

header h1 {
  background: #9ecacc;
  color: #32343c;
  width: 345px;
  text-align: end;
  padding-right: 2px;
}

/* Navigation */
.navigation {
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  display: flex;
  font-size: 18px;
}

.navigation li {
  margin-right: 20px; /* Adds space between list items */
  border-bottom: #9ecacc;
}

.navigation li a {
  text-decoration: none;
  color: #9ecacc;
}

li {
  list-style: none;
}

/* Banner */
.banner {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.banner img {
  /* Optional: Adjust image display properties */
  width: 100%; /* Stretch image to fit the banner */
  height: 100px; /* Maintain image aspect ratio */
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.box {
  display: flex;
  width: 46%; /* Set width to half the container width */
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  max-width: 77%;
}

.bio {
    display:inline;
    
}

p{
    margin-bottom: 20px;
    font-size: 16px;
}

.side {
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 36px;
    max-width: 33%;
} 

.card{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    width: 50%;
}

.major{
    width: 100px;
    margin: 5px;
}

.minor1{
    width: 50px;
    margin: 5px;
}

.minor2{
    width: 50px;
    margin: 5px;
}

.links {
  justify-content: center;
}

.links ul {
  display: flex;
  list-style: none; /* Removing default bullet points */
  padding: 0; /* Removing default padding */
}

.links li {
  margin: 10px; Adding spacing between items
  justify-content: space-around;
}

footer {
    display: flex;
    background-color: #32343c;
    color: #9ecacc;
    height: 50px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
  }
